{% extends 'base.html.twig' %}
{% block body %}
	{% include "components/navbar.html.twig"%}
	<div class="container">
		<br>
		<div class="row rows-col-lg-4 rows-col-md-2 rows-col-sm-1 animate__animated animate__fadeInLeft d-flex justify-content-center">
        <div class="card bg-dark text-white" style="width: 25rem;">
								<img src="{{todo.picture}}" class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title text-center">{{todo.name}}</h5>
									<p class="card-text">{{todo.description}}</p>
									<p class="card-text">capacity: {{todo.capacity}} people</p>
									<p class="card-text">email: {{todo.contact}}</p>
									<p class="card-text">phone: {{todo.phone}}</p>
									<p class="card-text">location: {{todo.location}}</p>
									<p class="card-text">Url: {{todo.url}}</p>
									<p class="card-text">Type: {{todo.type}}</p>
									<p class="card-text">When: {{todo.Date|date('F j, Y, g:i a')}}</p>
									<a href="/edit/{{todo.id}}" class="btn btn-warning">Edit</a>
									<a href="/delete/{{todo.id}}" class="btn btn-danger">Delete</a>
								</div>
							</div>
                        </div>
                        </div>
			<a class="btn btn-info" href="/">Back</a>
{% include "components/footer.html.twig"%}
		{% endblock %}
