{% extends 'base.html.twig' %}
{% block body %}
	{% include "components/navbar.html.twig"%}
	<div class="row rows-col-lg-4 rows-col-md-2 rows-col-sm-1 text-center align-items-center">
		<div class="container hero" style="background-image:url('{{ asset('pictures/hero.jpg') }}')" width="100%">
			<br>
			<br>
			<h1 class="hero-text text-center animate__animated animate__tada">Let Us Entertain You!🎬</h1>
		</div>
	</div>
	<br>

	<h2 class="text-center">✨ Events ✨</h2>
	<br>
	<div class="container row d-flex justify-content-center">
	<a class="btn btn-success col-1" href="concert">Concert</a>
	<a class="btn btn-success col-1" href="film">Film</a>
	<a class="btn btn-success col-1" href="sport">Sport</a>
	</div>
	<div class="container">
		<div class="row rows-col-lg-3 rows-col-md-2 rows-col-sm-1 animate__animated animate__fadeInLeft">
			{% for todo in todos %}
				<div class="col-4 g-4">
					<div class="card" style="width: 18rem;">
						<img src="{{ asset('pictures/' ~ todo.picture)}}" class="card-img-top" height="300rem">
						{# <img src="{{todo.picture}}" class="card-img-top" height="300rem"> #}
						<div class="card-body">
							<h5 class="card-title">{{todo.name}}</h5>
							<p class="card-text">{{todo.description}}</p>
							<p class="card-text">{{todo.type}}</p>
							<p class="card-text">{{todo.Date|date('F j, Y, g:i a', "Europe/Paris")}}</p>
							<a href="/details/{{todo.id}}" class="btn btn-primary">Details</a>
							<a href="/edit/{{todo.id}}" class="btn btn-warning">Edit</a>
							<a href="/delete/{{todo.id}}" class="btn btn-danger">Delete</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<br>
	{% include "components/footer.html.twig"%}
{% endblock %}
